

/* style before start*/
.before-start{
    
    background-color:purple;
    height: 100vh;
    width: 100vw;

}
.before-start .rules{
    height: 250px;
    width: 90%;
    
    color: white;
    position: relative;
    left: 15px;
    border-radius: 7px;
    animation-name: rules;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes rules{
    0%{left: -400px;}
    100%{left: 15px;}
}
.before-start button{
    height: 50px;
    width: 90px;
    font-size: 30px;
    border-radius: 8px;
    position: absolute;
    top: 390px;
    left: 125px;
    background-color: chartreuse;
    animation-name: buttonAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;

}
@keyframes buttonAnimation{
    0%{height: 0px;width: 0px;font-size: 0px;}
    100%{height: 50px;width: 90px;font-size: 30px;}
}
.ball{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 144px;
    top: 450px;
    animation-name: ball;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes ball{
    0%{top: 450px;}
    50%{top: 650px;height: 40px;width: 80px;background-color: tomato;}
    100%{top: 450px;}

}

/* style in the main game----------*/
.main-game{
    height: 100vh;
    width: 100vw;
    background-color: cyan;
}
.main-game .timer{
    height: 50px;
    width: 100vw;
    background-color: black;
    color: crimson;
    text-align: center;
    font-size: 30px;
}
.main-game .question-answer{
    height: 500px;
    width: 100vw;
    background-color: yellow;
}
.main-game .question-answer h2{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 100px;
}
.main-game .question-answer input{
    height: 40px;
    width: 160px;
    position: relative;
    top: 100px;
    left: 90px;
    font-size: 33px;
    text-align: center;
    border-radius: 6px;
}
.main-game .question-answer button{
    height: 40px;
    width: 120px;
    font-size: 30px;
    position: absolute;
    top: 370px;
    left: 113px;
    background-color: tomato;
    color: white;
    border-radius: 6px;

}