.full-welcome{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
}
.intro{
    width: 100vw;
    height: 50vh;
    background-color: darkorange;
    animation-name: intro;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}
@keyframes intro{
    0%{background-color: darkorange;}
    25%{background-color: purple;}
    50%{background-color: black;}
    75%{background-color: darkorange;}
    100%{background-color: purple;}
}
.intro h2{
    color: white;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 40px;
}
.intro h4{
    position: relative;
    top: 50px;
    text-align: center;
    color:greenyellow;
    font-size: 20px;
}
.image{
    position: absolute;
    bottom: 10px;
    height: 300px;
    width: 340px;
    background-image: url(../images/dora.jpg);
    background-size: cover;
}
.full-welcome button{
    height: 40px;
    width: 100px;
    font-size: 30px;
    background-color: green;
    color: white;
    border-radius: 6px;
    position:absolute;
    left: 120px;
    top:340px;
    animation-name: button;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes button{
    0%{width: 100px;left: 230px;}
    50%{width: 180px;background-color: red;left: 10px;}
    100%{width: 100px;left: 230px;}
}